#title {
  background-color: #ff4c68
}

body {
  font-family: "Montserrat";
  margin: 0;
}

h1 {
  margin: 0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  size: 3rem;
  line-height: 1.5;

  margin-bottom:16px;
  color: white;
  font-size: 4rem;
  font-weight: bolder;
}

.sravya {
  position: absolute;
  left: 40px;
  padding:0;
}

.navbar-brand {
  position: absolute;
  left: 55px;
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.clicks {
  position: absolute;
  left: 100px;
}

.navbar {
  padding-bottom: 50px;
}

.nav-item {
  font-family: "ubuntu";
  font-size: 1.5rem;
  padding: 0 18px;
}
#features{
  color:#fff;
  position:relative;
  z-index:2;

}





.feature-box {
  text-align: center;
  padding:5%
}

.fa-heart {
  color: #ef8172;
  position: relative;
  right: 30px;
  padding-bottom: 25px;
}

.fa-bullseye {
  color: #ef8172;
  position: relative;
  right: 20px;
  padding-bottom: 25px;
}

.fa-check-circle-o {
  color: #ef8172;
  position: relative;
  right: 20px;
  padding-bottom: 25px;
}

.want {
  color: #8f8f8f;
  font-size: 1.5rem;
}

.h3 {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: justify;
  color:black;
}

.features {
  padding: 50px 75px;
}

.fa-check-circle-o:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}
.dog
{
width:30%;

  margin-top:60px;
  position:relative;
bottom:30px;
padding:0 60px;
}
#testimonials
{
  padding:4% 5%;
  text-align:center;
  background-color:#ef8172;
  color:#fff;

}
h2
{
  font-family:"monserrat-bold";
  font-size:3rem;
  line-height:1.5;
}
.img-fluid{

  position: relative;
  left: 900px;

  bottom:30px;
  margin: 10px;
  padding:0;
  margin:0;


}
.card
{
width:5%;
}
#pricing
{
  padding-top:100px;
  padding-right:100px;
  padding-left:100px;
}
.pricing-coloumn
{
  padding:3% 3%;
}
p{
  font-family:"monserrat-bold";
  font-size:3rem;
  line-height:1.5;
  text-align:center;
  padding-bottom:5%;
color:  red;
}
#cta{
  background-color:#ff4c68;
  color:#fff;
  font-family:"monserrat-bold";
  font-size:3rem;
  line-height:1.5;
  text-align:center;

}
html
{
  scroll-behaviour:smooth;
}
.container
{
  padding:25px 50px;

}
.text-muted
{
  margin-bottom:50px;
  position:relative;
  bottom:50px;
}
.one{
  position:relative;
  bottom:10px;

}
.two
{
  position:relative;
  bottom:10px;
}
.three
{
  position:relative;
  bottom:10px;  
}
